input[type="radio"] {
    visibility: hidden;
    width: 0;
    height: 0;
    position: fixed;
}

/* Default Button Start */
.default-button {
    display: grid;
    border-radius: 1rem;
    border: 1px solid hsla(0, 0%, 0%, 0.25);
    /* Default Button does not have a border just box-shadow*/
    padding: 0.25rem;
    background-color: var(--default-button-bg-color);
}

.default-button:hover .option-tally:not(:has(img)) {
    background-color: var(--default-button-hover-bg-clr);
    border-color: var(--default-button-hover-bg-clr);
    color: var(--default-button-hover-text-clr);
}

.default-button:hover .option-tally:has(img) {
    border: 2px solid var(--default-button-hover-bg-clr);
}


.inner-tag-container {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-weight: 700;
    column-gap: 1rem;
}

.option-tally {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: var(--option-tally-default-button-bg-clr);
    color: var(--option-tally-default-button-text-clr);
    width: 56px;
    aspect-ratio: 1;
}

.option-content {
    color: var(--option-content-default-button-text-clr);
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Default Button End */

/* Selected Button Start */
.default-button.selected-button {
    border-color: var(--selected-button-clr);
}

.default-button.selected-button .option-tally {
    background-color: var(--selected-button-clr);
    border-color: var(--selected-button-clr);
    color: white;
}

.default-button.selected-button .option-tally:has(img) {
    background-color: var(--selected-button-img-bg-clr);
    border: 2px solid var(--selected-button-clr);
}

/* Selected Button End */

/* Correct Selected Button Start */

.default-button.correct-selected-button {
    border-color: var(--correct-selected-button-clr);
}

.default-button.correct-selected-button .option-tally {
    background-color: var(--correct-selected-button-clr);
    border-color: var(--correct-selected-button-clr);
    color: white;
}

.default-button.correct-selected-button .option-content::after {
    content: url('/images/icon-correct.svg');
}

/* Correct Selected Button End */

/* Incorrect User Selected Button Start */
.default-button.incorrect-selected-button {
    border-color: var(--incorrect-user-selected-button-clr);
}

.default-button.incorrect-selected-button .option-tally {
    background-color: var(--incorrect-user-selected-button-clr);
    border-color: var(--incorrect-user-selected-button-clr);
    color: white;
}

.default-button.incorrect-selected-button .option-content::after {
    content: url('/images/icon-error.svg');
}

/* Incorrect User Selected Button End */

/* Correct User Did Not Selected Start */
.default-button.correct-didnot-selected-button .option-content::after {
    content: url('/images/icon-correct.svg');
}

/* Correct User Did Not Selected End */


@media only screen and (max-width: 800px) {
    .option-tally {
        width: 40px;
    }
}
@media only screen and (max-width: 450px) {
    .quiz-button {
        padding: 0.75rem;
    }
}